@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url("./fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

.App {
  font-family: "Open Sans";
  font-size: calc(8px + 2vmax);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    40deg,
    #155263 0 40%,
    #ff6f3c 40% 52%,
    #ff9a3c 52% 80%,
    #ffc93c 80% 100%
  );
}

.navbar-brand {
  font-size: calc(8px + 2vmax);
  font-weight: 700;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-text {
  font-size: calc(8px + 2vmax);
  font-weight: 600;
}

.emissions-navbar {
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: 700;
  padding: 20px;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.App-body {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  font-size: calc(8px + 1.5vmax);
}

.sidebar-container {
  width: fit-content;
  height: 100vh;
  margin-right: -30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  background: rgba(255, 255, 255, 0.95);
  transform: translateX(-100%);
  transition: all 400ms ease-in;
  transition-property: transform margin-right;
}

.sidebar-container.visible {
  margin-right: 0;
  transform: translateX(0);
}

.sidebar {
  height: calc(100vh - 68px - 5vmax);
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  position: relative;
  font-size: calc(6px + 1.2vmax);
}

.sidebar-form {
  width: 100%;
}

.sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 1.7vmax);
  margin-bottom: 2em;
}

.sidebar-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em 0;
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: -1em;
  font-size: calc(3px + 0.7vmax);
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-footer a {
  color: inherit;
}

.btn-close {
  width: 0.4em;
  height: 0.4em;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  height: calc(100vh - 68px - 5vmax);
}

.text-card {
  box-sizing: border-box;
  width: min(80%, 60vw);
  padding: 40px;
  color: black;
  border-radius: 0.7em;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  background: rgba(255, 255, 255, 0.95);
}

.search-menu-toggle {
  border: none;
  border-top: 1px solid #ddd;
  font-size: calc(8px + 1.5vmax);
  text-align: center;
  padding: 10px 20px;
  color: black;
  width: 25vh;
  transform: translate(100%, 100%) rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 0.4em 0;
  box-shadow: 5px 5px 5px -5px hsla(0, 0%, 0%, 0.2);
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background-color, transform;
}

.search-menu-toggle:hover,
.search-menu-toggle:focus {
  background-color: rgba(250, 250, 250, 0.95);
  transform: translate(100%, 100%) rotate(-90deg) scale(1.07);
}

.logo {
  height: calc(8px + 5vmax);
  position: relative;
  margin: 10px 20px;
}

.navbar-toggler {
  font-size: calc(8px + 2vmax);
  margin: 0 0.3em;
  --bs-navbar-toggler-focus-width: 0.15rem;
}

.navbar-nav {
  font-size: calc(10px + 1vmax);
  font-weight: 400;
}

.nav-link-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  text-align: right;
  margin: 0.5em 0;
}

.nav-link-icon {
  height: 2em;
  margin-left: 0.5em;
}

.inline-block {
  display: inline-flex;
}

.spinner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initializing-spinner {
  width: 3em;
  height: 3em;
}

.year-select {
  width: fit-content;
  font-size: inherit;
}

.company-dropdown {
  width: 100%;
}

.company-dropdown * {
  font-size: inherit;
}

.company-dropdown .rbt-input:hover,
.year-select:hover {
  border-color: #555;
}

.rbt-highlight-text {
  padding: 0.1875em 0;
}

button.text-card {
  border: none;
  text-align: inherit;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background-color, transform;
}

button.text-card:hover,
button.text-card:focus {
  background-color: rgba(250, 250, 250, 0.95);
  transform: scale(1.07);
}
