@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url("./fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

.App {
  font-family: "Open Sans";
  font-size: calc(8px + 2vmax);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    40deg,
    #155263 9%,
    #155263 40%,
    #ff6f3c calc(40% + 1px),
    #ff6f3c 52%,
    #ff9a3c calc(52% + 1px),
    #ff9a3c 80%,
    #ffc93c calc(80% + 1px),
    #ffc93c 100%
  );
}

.navbar-brand {
  font-size: calc(8px + 2vmax);
  font-weight: 700;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-text {
  font-size: calc(8px + 2vmax);
  font-weight: 600;
}

.emissions-navbar {
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: 700;
  padding: 20px;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.App-body {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 68px - 5vmax);
  padding: 0 20%;
}

.text-card {
  font-size: calc(8px + 1.5vmax);
  padding: 40px;
  color: black;
  border-radius: 0.7em;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  background: rgba(255, 255, 255, 0.95);
}

.logo {
  height: calc(8px + 5vmax);
  position: relative;
  margin: 10px 20px;
}

.navbar-toggler {
  font-size: calc(8px + 2vmax);
  margin: 0 0.3em;
  --bs-navbar-toggler-focus-width: 0.15rem;
}

.navbar-nav {
  font-size: calc(10px + 1vmax);
  font-weight: 400;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  text-align: right;
  margin: 0.5em 0;
}

.nav-link-icon {
  height: 2em;
  margin-left: 0.5em;
}

.inline-block {
  display: inline-flex;
}

.initializing-spinner {
  width: 3em;
  height: 3em;
}

.year-select {
  width: fit-content;
  font-size: inherit;
}

.company-dropdown * {
  font-size: inherit;
}

.year-select {
  padding: 0.375rem 0.5rem;
  background-image: none;
}
